<!--The content below is only a placeholder and can be replaced.-->

<div class="container" style="margin-top:30px">
	<div class="row">
		<div class="col-sm-7">
			<div>
				<h1>
					Welcome to {{ title }}!
				</h1>

				<form>
					<select (change)=onChange($event.target.value)>
                        <option [value]="room.id" *ngFor="let room of rooms"> {{room.name}}</option>
                    </select> <br>

                    nome: <input #n> <br>
                    cognome : <input #c> <br>
                    da: <input type = "date" #d> <br>
                    a: <input type = "date" #e> <br>

                    <button (click)= "onClick(n,c,d,e)"> Prenota </button>

                </form>
                <ul>
                    <li *ngFor="let pren of bookingList">
                        {{pren.room.name}} : {{pren | json}}
                    </li>
                </ul>
            </div>
		</div>
        <div class="col-sm-5">
            <br>
            <br>
            <br>
            <button class="btn btn-primary" (click)="onClickNascondi()" >Nascondi/Visualizza</button>
        </div>
	</div>
    <div class="row">
        <div class="col-sm-5">
        </div>
        <div class="col-sm-5">
            <app-lista-pren [visible]="visible"></app-lista-pren>
        </div>
    </div>
    <div class="row">
        <div class="coll-sm-5">
             <app-dettagli-stanza [dettagli]="selectedRoom"></app-dettagli-stanza>
        </div>
    </div>
</div>